[mysqld]
server-id = 1
log_bin = /var/lib/mysql/mysql-bin.log
binlog_format = ROW
log_slave_updates = ON
gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
sync_binlog = 1
binlog_expire_logs_seconds = 604800  # 7 days
skip_name_resolve = ON
default_authentication_plugin = mysql_native_password
bind-address = 0.0.0.0

# Optional: security
secure-file-priv = NULL
symbolic-links = 0

# Optimization (High Performance)
performance_schema = OFF
innodb_buffer_pool_size = 2G
max_connections = 1000
innodb_log_buffer_size = 64M
table_open_cache = 2000
innodb_io_capacity = 2000
innodb_log_file_size = 512M

